<<<<<<< HEAD
@green: #8cc13b;

.label.label-warning, .btn.btn-warning {
  color: #ffffff;
  background-color: #F0AD4E;
  background-image: linear-gradient(to bottom, #F0AD4E, #EB9316);
  border-color: #E38D13 #E38D13 #E38D13;
}
.label.label-warning, .btn.btn-warning:hover {
  color: #ffffff;
  background-color: #EB9316;
  background-image: linear-gradient(to bottom, #EB9316, #EB9316);
  border-color: #E38D13 #E38D13 #E38D13;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size:13px;
}
.container {
  max-width: 997px !important;
}
.header {
  padding-top:15px;
  padding-bottom:15px;
  .logo {
    float:left;

  }
}

.orange {
  color:#f7941d;
=======
@color-black: black;
@color-primary:#e48632;
@color-tertiary: #f5f6f6;
@color-four: #b7b8b8;
@color-five: #686969;
@color-white: #fff;

html {

}

button {
  a{
    color:@color-black !important;

    &:hover {
      text-decoration: none;
    }
  }
>>>>>>> 4b1aadab484400d82c6fa4af83ed2cb579493986
}
.below-header .jumbotron {
  background-color: #FDFDFD;
  border-bottom:3px solid @green;
  padding-top:15px;
  padding-bottom:15px;
}
.below-header .jumbotron h2 {
  margin:0;
}

.entry {
  padding-top:7px;
  padding-bottom:8px;
  padding-left:8px;
  padding-right:7px;

<<<<<<< HEAD
  margin-bottom:15px;

  h3 {
    margin:0;
    font-size:15px;
    font-weight:bold;
  }

  .logo {
    padding:8px;
    background:white;
    border:1px solid #d7ebf6;
    text-align:center;
  }

}
.entry.featured {
  background-color: #e0f4ff;
}


@media screen and (min-width: 768px)
{
=======
.btn-primary {
  background-color: #e48632;
  border-color: #e4793d;


  &:hover {
    background-color: #be6c20;
    border-color: #ba5d34;
  }
  &:active {
    background-color: #be6c20;
    border-color: #ba5d34;
  }

  a{
    color:white;
  }
}
body {

  background-color:@color-tertiary;
}

#topbar {

  background-color:@color-primary;
  min-height:50px;


  #logo {

    padding-top:7px;
    font-weight:bold;
    color:@color-white;
    font-size:14pt;
    font-family: "Open Sans", serif;

    p {
      margin:5px 0 0 130px;
    }
>>>>>>> 4b1aadab484400d82c6fa4af83ed2cb579493986

  .entry .logo img {
    max-width:100px;
    margin:0 auto;
    max-height:100px;
  }

  .entry .ribbon-wrapper-red {
    top: -6px;
    right: -13px;

  }
}

@media screen and (max-width: 768px)
{
  .header .logo {
    float: none;
    margin: 0 auto;
    display: table;

  }
  .entries {
    padding:15px;
  }
}
.entry .ribbon-wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
}
.entry .ribbon-wrapper-red {
  width: 124px;
  height: 124px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: -6px;
}
.entry .ribbon-red {
  font: bold 10px Sans-Serif;
  text-align: center;
  /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  right: -33px;
  top: 10px;
  width: 115px;
  background-image: -webkit-linear-gradient(top, #cc0000 0%, #990000 100%);
  background-image: linear-gradient(to bottom, #cc0000 0%, #990000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc0000', endColorstr='#ff990000', GradientType=0);
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
  text-transform: uppercase;
}
.entry .ribbon-red span {
  position: absolute;
  right: 16px;
  top: 7px;
}
.entry .ribbon-red:before,
.entry .ribbon-red:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
.entry .ribbon-red:before {
  left: 0;
}
.entry .ribbon-red:after {
  right: 0;
}
.entry .btn {
  position: relative;
  z-index: 100;
}
#body {

<<<<<<< HEAD
.home-cta {
  padding:25px;
  background-image: url("/images/background.jpg");
  background-size:cover;

  .form {
    background:rgba(255,255,255,0.5);
    padding:25px;

    #order-button {
      width: 100%;
=======

  #sidebar {

    float:left;
    width:250px;


    border-right: 1px solid #ddd;
    .logo {
      position: relative;



      img {
        position: absolute;
        top:-40px;
        left:10px;
        max-width:100px;
      }

      margin-bottom:100px;
>>>>>>> 4b1aadab484400d82c6fa4af83ed2cb579493986
    }

    #sidebar-menu {
      .nav-sidebar {
        width: 100%;
        padding: 8px 0;
      }
      .nav-sidebar a {
        color: @color-five;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
      }
      .nav-sidebar .active a {
        cursor: default;
        background-color: @color-primary;
        color: #fff;
        text-shadow: 1px 1px 1px #666;
      }
      .nav-sidebar .active a:hover {
        background-color: @color-primary;
      }
      .nav-sidebar .text-overflow a,
      .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }

      /* Right-aligned sidebar */
      .nav-sidebar.pull-right {
        border-right: 0;
        border-left: 1px solid ;
      }
      .nav-sidebar.pull-right a {
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
      }
    }

  }
<<<<<<< HEAD
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  border-top: #c2c2d1;
  .container {
    padding-top:10px;
    padding-bottom:15px;
    text-align:center;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
=======


  #content {

    small {
      color: #929292;
      font-size:11px;
    }

    .menugroup {
      table {
        margin-top:8px;
      }
    }
    .groupname {
      color: @color-primary;
      font-weight:bold;
    }
    padding-top:30px;


    p {
      a {
        color:@color-primary;
      }
    }




    input {
      border-radius: 0;
    }
    label {
      font-weight:normal;
      color:@color-five;
      text-shadow: 1px 1px 1px @color-four;
    }
    button {
      border-radius: 0;
    }

    float:right;
    width:768px;
    margin-right:50px;

    h2 {
      color:@color-five;
      font-family: "Open Sans";
      text-shadow: 1px 1px 1px @color-four;
      border-bottom:1px solid @color-four;
      margin-bottom:20px;
    }

    .extras {
      margin:0 !important;
      display:block !important;
    }
    ul {

      margin-top:15px;
      margin-bottom:15px;

      display:inline-block;
      border:1px solid #ccc;
      padding:10px 10px 10px 26px;

      li {
        a {
          color:@color-primary;
        }
      }
    }

    p {
      margin:15px 0 15px 0;
      line-height:16pt;
      color:@color-five;
    }

    .custab{

      thead {
        tr {
          td {
            font-weight:bold;
          }
          th {
            font-weight:bold;
          }
        }


      }

      border: 1px solid #ccc;
      padding: 5px;
      margin: 5% 0;

      tr {
        &:hover {
          background-color: #eeeeee;
        }
        td {
          a {
            color:@color-primary;
          }
        }
      }
    }


>>>>>>> 4b1aadab484400d82c6fa4af83ed2cb579493986
  }
}


