.label.label-warning,
.btn.btn-warning {
  color: #ffffff;
  background-color: #F0AD4E;
  background-image: linear-gradient(to bottom, #f0ad4e, #eb9316);
  border-color: #E38D13 #E38D13 #E38D13;
}
.label.label-warning,
.btn.btn-warning:hover {
  color: #ffffff;
  background-color: #EB9316;
  background-image: linear-gradient(to bottom, #eb9316, #eb9316);
  border-color: #E38D13 #E38D13 #E38D13;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 13px;
}
.container {
  max-width: 997px !important;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .logo {
  float: left;
}
.orange {
  color: #f7941d;
}
.below-header .jumbotron {
  background-color: #FDFDFD;
  border-bottom: 3px solid #8cc13b;
  padding-top: 15px;
  padding-bottom: 15px;
}
.below-header .jumbotron h2 {
  margin: 0;
}
.entry {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 7px;
  margin-bottom: 15px;
}
.entry h3 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}
.entry .logo {
  padding: 8px;
  background: white;
  border: 1px solid #d7ebf6;
  text-align: center;
}
.entry.featured {
  background-color: #e0f4ff;
}
@media screen and (min-width: 768px) {
  .entry .logo img {
    max-width: 100px;
    margin: 0 auto;
    max-height: 100px;
  }
  .entry .ribbon-wrapper-red {
    top: -6px;
    right: -13px;
  }
}
@media screen and (max-width: 768px) {
  .header .logo {
    float: none;
    margin: 0 auto;
    display: table;
  }
  .entries {
    padding: 15px;
  }
}
.entry .ribbon-wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
}
.entry .ribbon-wrapper-red {
  width: 124px;
  height: 124px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: -6px;
}
.entry .ribbon-red {
  font: bold 10px Sans-Serif;
  text-align: center;
  /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  right: -33px;
  top: 10px;
  width: 115px;
  background-image: -webkit-linear-gradient(top, #cc0000 0%, #990000 100%);
  background-image: linear-gradient(to bottom, #cc0000 0%, #990000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc0000', endColorstr='#ff990000', GradientType=0);
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
  text-transform: uppercase;
}
.entry .ribbon-red span {
  position: absolute;
  right: 16px;
  top: 7px;
}
.entry .ribbon-red:before,
.entry .ribbon-red:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
.entry .ribbon-red:before {
  left: 0;
}
.entry .ribbon-red:after {
  right: 0;
}
.entry .btn {
  position: relative;
  z-index: 100;
}
.home-cta {
  padding: 25px;
  background-image: url("/images/background.jpg");
  background-size: cover;
}
.home-cta .form {
  background: rgba(255, 255, 255, 0.5);
  padding: 25px;
}
.home-cta .form #order-button {
  width: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  border-top: #eeeeff;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
