@color-one: #b8b8b8;




.cart {
  border:1px solid @color-one;
  padding:5px;
  width:100%;
}

.cart-table {
  font-size:12px;

  padding:0;

  .delete {
    background-color:#bd392f;
    color:white;
    padding:3px;
    &:hover {
      background-color: #942f26;
    }
    margin:2px 0 2px 0;
    cursor:pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    i {
      margin-left:5px;
      color:white;
    }
    max-width:25px;
  }

  .name {
    font-weight:bold;
    display:block;
  }
  td {
    padding:0px !important;
    vertical-align: middle;
  }
  td:first-child {
    width:10%;
  }

  td:nth-child(3){
    white-space: nowrap;
    width:25%
  }

  .total {
    text-align:right;
    padding:10px !important;
  }
  input {
    margin:2px 5px 2px 2px;
    width:20px;
    border:1px solid @color-one;
    background:white;
    color:black;
  }
}