.portlet button i {
    margin:0 !important;
}
.tooltip {
    font-family: 'Arial', sans-serif !important;
}

.portlet table {
    margin-bottom:0;
}
.footer {
   padding-top:50px;

}
#menucart .portlet table td:first-child {
    width:80%;
}