/*@color-one: #16a085;
@color-two: #148e76;
@color-three: #159c81;
@color-four: #3E8851;*/

@color-one: #1674a0;
@color-two: #146d8e;
@color-three: #157b9c;
@color-four: #3e6b88;

/* ========================================================
*
* Target Admin
*
* ========================================================
*
* File: target-admin.css
* Version: 1.0.0
* Author: Jumpstart Themes
*
* [Table of Contents]
* 
*   ==Buttons
*   ==Dropdown
*   ==Badges
*   ==Tables
*   ==Modal
*   ==Progress Bars
*   ==List Group
*   ==Thumbnail
*   ==Accordion
*   ==Tabs
*   ==Pagination
*   ==Forms
*   ==Labels
*   ==Text
* 
*   ==Error Styles
*   ==Navbar
*   ==Mainbar
*   ==Content
*   ==Footer
*   ==Noticebar

*   ==Icons List
*   ==Headings
*   ==Portlets
*   ==Progress Stat
*   ==Row Stat
*   ==Spark Stat
*   ==Panel Content
*   ==Back to Top

*   ==Morris
*   ==Calendar
*   ==Slider
*   ==Autosize
*   ==Date Picker
*   ==iCheck
*   ==Select2
*   ==Color Picker
*   ==Time Picker
*   ==Validation
*   ==Howl
*   ==Data Tables
*   ==Flot
*   ==Table Checkable

*   ==Account Styles
*   ==Support List
* ======================================================== */
/* ==Body */
/* ----------------------------------------------- */
body {
  font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
  background: #FFF;
}
@media (min-width: 768px) {
  body {
    background: #e6e6e6;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: Oswald;
  font-weight: 400;
}
/* ==Buttons */
/* ----------------------------------------------- */
.btn-secondary,
.btn-tertiary,
.btn-facebook,
.btn-twitter {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary:active,
.btn-tertiary:active,
.btn-facebook:active,
.btn-twitter:active,
.btn-secondary.active,
.btn-tertiary.active,
.btn-facebook.active,
.btn-twitter.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #df2e1b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #df2e1b;
  border-color: #a82315;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e74c3c;
  border-color: #df2e1b;
}
.btn-primary .badge {
  color: #e74c3c;
  background-color: #ffffff;
}
.btn-secondary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #3276b1;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #245682;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #428bca;
  border-color: #3276b1;
}
.btn-secondary .badge {
  color: #428bca;
  background-color: #ffffff;
}
.btn-tertiary {
  color: #ffffff;
  background-color: #bbbbbb;
  border-color: #a7a7a7;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: #ffffff;
  background-color: #a7a7a7;
  border-color: #888888;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #bbbbbb;
  border-color: #a7a7a7;
}
.btn-tertiary .badge {
  color: #bbbbbb;
  background-color: #ffffff;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #344e86;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #30487b;
  border-color: #23345a;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #344e86;
}
.btn-facebook .badge {
  color: #3b5998;
  background-color: #ffffff;
}
.btn-twitter {
  color: #ffffff;
  background-color: #00acee;
  border-color: #00a1df;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #008fc5;
  border-color: #0075a2;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #00acee;
  border-color: #00a1df;
}
.btn-twitter .badge {
  color: #00acee;
  background-color: #ffffff;
}
.btn-jumbo {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-primary .caret,
.btn-secondary .caret,
.btn-tertiary .caret,
.btn-facebook .caret,
.btn-twitter .caret {
  border-top-color: #fff;
}
.dropup .btn-primary .caret,
.dropup .btn-secondary .caret,
.dropup .btn-tertiary .caret,
.dropup .btn-facebook .caret,
.dropup .btn-twitter .caret {
  border-bottom-color: #fff;
}
/* ==Dropdowns */
/* ----------------------------------------------- */
.btn-primary .caret,
.btn-secondary .caret,
.btn-tertiary .caret,
.btn-facebook .caret,
.btn-twitter .caret {
  border-top-color: #fff;
}
.dropup .btn-primary .caret,
.dropup .btn-secondary .caret,
.dropup .btn-tertiary .caret,
.dropup .btn-facebook .caret,
.dropup .btn-twitter .caret {
  border-bottom-color: #fff;
}
.dropdown-menu {
  min-width: 185px;
}
.dropdown-menu > li {
  margin-right: .5em;
  margin-left: .5em;
}
.dropdown-menu > li > a {
  padding: 6px 7px;
  font-size: 13px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-header {
  padding: 7px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #e74c3c;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #444;
  background-color: #dadada;
}
@media (max-width: 768px) {
  .dropdown-header {
    color: #083d33;
    font-size: 13px;
  }
  .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding-left: 40px;
  }
  .dropdown-menu .divider {
    background-color: #1abf9f;
  }
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  display: none;
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.navbar .dropdown-submenu > .dropdown-menu,
.mainnav .dropdown-submenu > .dropdown-menu {
  display: block;
  margin-top: -6px;
  margin-left: 20px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-submenu:hover > .dropdown-menu:before,
.dropdown-submenu:hover > .dropdown-menu:after {
  display: none;
}
@media (min-width: 768px) {
  .navbar .dropdown-submenu > .dropdown-menu,
  .mainnav .dropdown-submenu > .dropdown-menu {
    display: none;
    margin-left: -1px;
  }
  .navbar .dropdown-submenu:hover > .dropdown-menu,
  .mainnav .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-submenu > a:after {
    content: " ";
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -5px;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
  }
  .dropdown-submenu:hover > a:after {
    border-left-color: #e74c3c;
  }
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
/* ==Badges */
/* ----------------------------------------------- */
.badge-primary {
  background: #e74c3c;
}
.badge-secondary {
  background: #428bca;
}
.badge-tertiary {
  background: #bbbbbb;
}
/* ==Tables */
/* ----------------------------------------------- */
.table-bordered thead tr,
.table-bordered tfoot tr {
  background-color: #f3f3f3;
}
.table-bordered thead tr th,
.table-bordered tfoot tr th {
  color: #444;
  font-size: 12px;
  font-weight: 800;
  background-color: transparent;
  border-bottom-width: 1px;
  vertical-align: middle;
}
.table-bordered.table-highlight {
  border-top-color: #111;
}
.table-bordered.table-highlight thead tr:first-child {
  background-color: #363636;
}
.table-bordered.table-highlight thead tr:first-child th {
  color: #fff;
  font-weight: 600;
  border: 1px solid #2c2c2c;
}
/* ==Modal */
/* ----------------------------------------------- */
.modal-backdrop {
  background-color: #ffffff;
}
.modal-backdrop.in {
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.modal-styled .modal-header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #333;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.modal-styled .modal-header .close {
  color: #fff;
  opacity: 1;
  text-shadow: none;
}
.modal-styled .modal-header .close:hover {
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.modal-styled .modal-footer {
  padding: 14px 20px 15px;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* ==Progress Bars */
/* ----------------------------------------------- */
.progress-bar-primary {
  background-color: #e74c3c;
}
.progress-striped .progress-bar-primary {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-secondary {
  background-color: #428bca;
}
.progress-striped .progress-bar-secondary {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-tertiary {
  background-color: #bbbbbb;
}
.progress-striped .progress-bar-tertiary {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/* ==List Group */
/* ----------------------------------------------- */
.list-group .list-group-item i {
  color: #e74c3c;
}
.list-group .list-group-item.active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.list-group .list-group-item.active i {
  color: #fff;
}
.list-group .list-group-item .list-group-chevron {
  float: right;
  margin-top: 5px;
  color: #bbb;
}
.list-group .list-group-item .badge {
  margin-top: 2px;
}
.list-group .list-group-item .list-group-chevron + .badge {
  margin-right: 10px;
}
/* ==Thumbnails */
/* ----------------------------------------------- */
.thumbnail-view {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.thumbnail-view img {
  max-width: 100%;
}
.thumbnail-view .thumbnail-view-hover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  background: #111111 url(../img/gallery/zoom.png) no-repeat 50%;
  z-index: 10;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.thumbnail-view:hover .thumbnail-view-hover {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  opacity: .5;
  filter: alpha(opacity=50);
}
.thumbnail-footer {
  padding: 7px 10px;
  border-top: 1px dotted #ccc;
}
.thumbnail-footer:before,
.thumbnail-footer:after {
  content: " ";
  display: table;
}
.thumbnail-footer:after {
  clear: both;
}
.thumbnail-footer a {
  color: #999;
  font-size: 12px;
}
.thumbnail-footer a:hover {
  text-decoration: none;
  color: #e74c3c;
}
.thumbnail-footer .pull-left a {
  padding: 0 12px 0 0;
}
.thumbnail-footer .pull-right a {
  padding: 0 0 0 12px;
}
/* ==Accordion */
/* ----------------------------------------------- */
.accordion .panel-heading {
  padding: 0;
}
.accordion .accordion-toggle {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
.accordion .accordion-toggle:hover,
.accordion .accordion-toggle:active,
.accordion .accordion-toggle:focus {
  text-decoration: none;
  outline: none !important;
}
.accordion .panel.open .accordion-toggle {
  color: #fff;
  background-color: #e74c3c;
}
/* ==Tabs */
/* ----------------------------------------------- */
.tab-content.stacked-content > .tab-pane {
  padding-top: 0;
}
.nav-tabs,
.nav-pills {
  margin-bottom: 1.5em;
}
.nav-tabs .caret,
.nav-pills .caret,
.nav-tabs a:hover .caret,
.nav-pills a:hover .caret {
  border-top-color: #444;
  border-bottom-color: #444;
}
.nav-pills.nav-stacked > li {
  margin-right: 0;
  margin-bottom: .5em;
}
.nav-pills.nav-stacked > li > a {
  padding: 10px 15px;
}
.nav-pills > li {
  margin-right: 6px;
}
.nav-pills > li > a {
  padding: 5px 12px;
  color: #444;
  background-color: #eee;
}
.nav-pills > li > a:hover {
  background-color: #e4e4e4;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #e74c3c;
}
.nav-pills > li.active .caret,
.nav-pills > li.active a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #e74c3c;
  font-weight: 600;
}
.nav-tabs > li > a {
  color: #444;
}
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  background-color: #eeeeee;
  border-color: #e74c3c;
}
.nav-tabs .dropdown-menu > .active > a,
.nav-tabs .dropdown-menu > .active > a:hover,
.nav-tabs .dropdown-menu > .active > a:focus {
  color: #fff;
}
/* ==Pagination [.pagination] */
/* ----------------------------------------------- */
.pagination > li > a,
.pagination > li > span {
  color: #222;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
  cursor: default;
}
.pager > li > a {
  color: #222;
}
/* ==Forms */
/* ----------------------------------------------- */
.form .row,
.form-horizontal .row {
  margin-bottom: 0 !important;
}
.help-block {
  margin-bottom: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
}
/* ==Labels */
/* ----------------------------------------------- */
.label-primary {
  background-color: #e74c3c;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #d62c1a;
}
.label-secondary {
  background-color: #428bca;
}
.label-secondary[href]:hover,
.label-secondary[href]:focus {
  background-color: #3071a9;
}
.label-tertiary {
  background-color: #bbbbbb;
}
.label-tertiary[href]:hover,
.label-tertiary[href]:focus {
  background-color: #a2a2a2;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
/* ==Text */
/* ----------------------------------------------- */
.text-muted {
  color: #999999;
}
.text-primary {
  color: #e74c3c;
}
.text-warning {
  color: #8a6d3b;
}
.text-info {
  color: #31708f;
}
/* ==Error [.error-container]*/
/* ----------------------------------------------- */
.error-container {
  margin-top: 1em;
  text-align: center;
}
.error-code {
  display: inline-block;
  vertical-align: top;
  font-size: 100px;
  font-weight: 600;
  line-height: .7em;
}
.error-details {
  display: inline-block;
  vertical-align: top;
  margin-top: 4em;
}
.error-details ul {
  text-align: left;
}
@media (min-width: 768px) {
  .error-container {
    margin-top: 2.5em;
  }
  .error-details {
    width: 250px;
    margin-top: 0;
    margin-left: 25px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .error-container {
    margin-top: 5em;
  }
  .error-code {
    font-size: 150px;
  }
  .error-details {
    width: 350px;
    margin-left: 50px;
  }
}
/* ==Navbar [.navbar]*/
/* ----------------------------------------------- */
.navbar {
  position: relative;
  z-index: 501;
  min-height: 60px;
  margin-bottom: 0;
  background-color: #222222;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar .navbar-text {
  color: #999999;
}
.navbar .navbar-nav > li > a {
  color: #999999;
  font-size: 13px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar .navbar-toggle {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
  color: #666;
  font-size: 18px;
  border-color: none;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #333333;
}
.navbar .navbar-collapse {
  background: #222222;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #101010;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #080808;
  background-color: #1b1b1b;
}
.navbar .navbar-link {
  color: #999999;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
.navbar-brand {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand-image {
  padding: 0;
}
.navbar .navbar-nav > .navbar-profile > a {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-profile-avatar {
  position: relative;
  top: -1px;
  width: 30px;
  margin-right: .65em;
  border: 2px solid #6f6f6f;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navbar-profile-label {
  display: inline;
  font-size: 13px;
}
@media (min-width: 768px) {
  .navbar {
    height: 60px;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-profile-label {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav .dropdown-menu:before {
    content: '';
    position: relative;
    z-index: 10601;
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 8px;
  }
  .navbar-nav.navbar-right .dropdown-menu:before {
    left: auto;
    right: 12px;
  }
}
/* ==Mainbar [.mainbar]*/
/* ----------------------------------------------- */
.mainbar {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background: @color-one;
  border-bottom: 10px solid #fff;
}
.mainbar .mainbar-nav {
  text-align: left;
}
.mainbar .mainbar-nav > li > a {
  color: #fff;
  font-weight: 600;
}
.mainbar .mainbar-nav > li > a > i {
  margin-right: 5px;
}
.mainbar .mainbar-nav > li > a:hover,
.mainbar .mainbar-nav > li > a:focus {
  background: @color-two;
}
.mainbar .mainbar-nav > .open > a,
.mainbar .mainbar-nav > .open > a:hover,
.mainbar .mainbar-nav > .open > a:focus {
  color: #fff;
  background: @color-three;
  border-color: @color-two;
}
.mainbar .mainbar-toggle {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #0a463a;
  font-size: 18px;
  background: transparent;
}
@media (min-width: 768px) {
  .mainbar {
    height: 160px;
    padding: 0;
  }
  .mainbar .mainbar-nav {
    float: none;
    margin-top: 17px;
  }
  .mainbar .mainbar-nav > li {
    margin-right: 4px;
  }
  .mainbar .mainbar-nav > li > a {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    text-shadow: 1px 1px 2px @color-four;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .mainbar .mainbar-nav > li > a > i {
    display: block;
    margin-right: 0;
    margin-bottom: 6px;
    font-size: 24px;
  }
  .mainbar .mainbar-nav > li > a:hover,
  .mainbar .mainbar-nav > li > a:focus {
    border-color: @color-two;
    background: @color-three;
  }
  .mainbar .mainbar-nav > .active > a,
  .mainbar .mainbar-nav > .active > a:hover,
  .mainbar .mainbar-nav > .active > a:focus {
    color: #fff;
    background: @color-two;
    border-color: transparent;
  }
  .mainbar .mainbar-nav > .active > a::after,
  .mainbar .mainbar-nav > .active > a:hover::after,
  .mainbar .mainbar-nav > .active > a:focus::after {
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-top-color: @color-two;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
  }
  .mainbar .mainbar-toggle {
    display: none;
  }
  .mainbar .mainbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .mainbar .mainbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .mainbar .mainbar-collapse.in {
    overflow-y: visible;
  }
}
@media (min-width: 992px) {
  .mainbar {
    height: 170px;
  }
  .mainbar .mainbar-nav > li {
    margin-right: 10px;
  }
  .mainbar .mainbar-nav > li > a {
    padding: 12px 12px;
    font-size: 14px;
  }
  .mainbar .mainbar-nav > li > a > i {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .mainbar .dropdown-menu > li > a:hover,
  .mainbar .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #117c67;
  }
}
/* ==Content [.content]*/
/* ----------------------------------------------- */
.content {
  position: relative;
  width: 100%;
  padding-top: 20px;
  background: #fff;
}
.content::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  width: auto;
  height: 100px;
  margin-top: -15px;
  margin-right: -25px;
  margin-left: -25px;
  background-image: -webkit-linear-gradient(top, #e9e9e9 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe9e9e9', endColorstr='#ffffffff', GradientType=0);
}
.content .breadcrumb {
  padding: 4px 0;
  margin-bottom: 0;
  background: none;
}
.content .breadcrumb > li {
  font-size: 15px;
}
.content-container {
  position: relative;
  z-index: 101;
}
.content-header {
  padding-bottom: .5em;
  margin-bottom: 2.5em;
  border-bottom: 1px dotted #CCC;
}
.content-header-title {
  margin-top: 0;
  color: @color-one;
  font-size: 24px;
}
.content-header-subtitle {
  color: #999;
  font-size: 13px;
  text-transform: uppercase;
}
.row-spacer {
  height: 40px;
}
@media (min-width: 768px) {
  .content {
    min-height: 750px;
    padding: 0;
    margin-top: -52px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  .content::before {
    margin: 0;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .content-container {
    padding: 30px 25px 40px 25px;
  }
  .content-header-title {
    font-size: 28px;
  }
}
/* ==Footer [.footer]*/
/* ----------------------------------------------- */
.footer {
  padding: 20px 0 20px 0;
  margin-top: 2em;
  font-size: 12px;
  background: #e6e6e6;
  border-top: 1px solid #cdcdcd;
  -webkit-box-shadow: inset 1px 1px 1px #ffffff;
  -moz-box-shadow: inset 1px 1px 1px #ffffff;
  box-shadow: inset 1px 1px 1px #ffffff;
}
.footer .row > div {
  padding-bottom: .75em;
}
.footer hr {
  border-top-color: #d2d2d2;
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 30px;
    margin-top: 1.5em;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
/* ==Noticebar [.noticebar]*/
/* ----------------------------------------------- */
.navbar .noticebar > li > a .badge {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 10px;
  background: transparent;
  border: 2px solid #e74c3c;
}
.navbar .noticebar > .open > a .badge {
  background: #e74c3c;
}
@media (min-width: 768px) {
  .navbar .noticebar > li > a {
    max-height: 60px;
    color: #3c3c3c;
    font-size: 19px;
  }
  .navbar .noticebar > li > a:hover {
    color: #555555;
  }
  .navbar .noticebar > li > a .badge {
    position: absolute;
    top: 6px;
    right: 3px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .navbar .noticebar > .open > a:after {
    content: '';
    position: relative;
    z-index: 1001;
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -8px;
  }
}
.noticebar-empty {
  padding: 25px 35px !important;
  text-align: center;
}
.noticebar-empty-title {
  color: #e74c3c;
}
.noticebar-empty-text {
  color: #777;
}
.noticebar-menu-view-all {
  text-align: center;
}
.noticebar-menu {
  width: 325px;
}
.noticebar-menu .nav-header {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
}
.noticebar-menu .nav-header a {
  font-weight: 400;
}
.noticebar-menu > li {
  display: table;
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px dotted #ccc;
}
.noticebar-menu > li:last-child {
  border-bottom: none;
}
.noticebar-menu > li > a {
  padding: 8px 12px;
  font-size: 12px;
  white-space: normal;
}
.noticebar-menu > li > a:hover {
  color: #444;
  background: #eee;
}
.noticebar-menu:before,
.noticebar-menu:after {
  display: none !important;
}
.navbar-visible-collapsed {
  display: inline;
}
@media (max-width: 768px) {
  .noticebar-menu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .navbar-visible-collapsed {
    display: none;
  }
}
.noticebar-item-image,
.noticebar-item-body {
  display: table-cell;
  vertical-align: middle;
}
.noticebar-item-image {
  width: 36px;
  font-size: 30px;
  text-align: center;
}
.noticebar-item-body {
  padding-left: 20px;
}
.noticebar-item-title {
  display: block;
}
.noticebar-item-time {
  display: block;
  color: #777;
}
/* ==Misc */
/* ----------------------------------------------- */
.nav-icon {
  width: 1em;
  margin-right: 6px;
  font-size: 13px;
  text-align: center;
}
.chart-holder,
.chart-holder-225 {
  width: 100%;
  height: 275px;
}
.chart-holder-225 {
  height: 225px;
}
.clear {
  clear: both;
}
/* ==Icons List [.icons-list]*/
/* ----------------------------------------------- */
.icons-list {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
.icons-list > li {
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 1em;
  line-height: 1.65em;
}
.icons-list > li > .icon-li {
  position: absolute;
  top: 2px;
  left: 0;
  width: 1em;
  font-size: 1.25em;
  text-align: center;
}
/* ==Headings [.heading]*/
/* ----------------------------------------------- */
.heading {
  padding-bottom: 8px;
  margin-bottom: 1.35em;
  border-bottom: 1px dotted #CCC;
}
.heading-inline {
  display: inline-block;
}
/* ==Portlet [.portlet]*/
/* ----------------------------------------------- */
.portlet {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  /* Clearfix Hack */
  /* portlet Plain */
}
.portlet .portlet-header {
  position: relative;
  padding: 1px 15px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #D5D5D5;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
}
.portlet .portlet-header:before,
.portlet .portlet-header:after {
  content: " ";
  display: table;
}
.portlet .portlet-header:after {
  clear: both;
}
.portlet .portlet-header h1,
.portlet .portlet-header h2,
.portlet .portlet-header h3,
.portlet .portlet-header h4,
.portlet .portlet-header h5,
.portlet .portlet-header h6 {
  float: left;
  padding: 10px 0;
  margin: 0 1em 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.portlet .portlet-header h1 i,
.portlet .portlet-header h2 i,
.portlet .portlet-header h3 i,
.portlet .portlet-header h4 i,
.portlet .portlet-header h5 i,
.portlet .portlet-header h6 i {
  display: inline-block;
  margin-top: -3px;
  margin-right: 10px;
  font-size: 16px;
  color: #777;
  vertical-align: middle;
}
.portlet .portlet-tools {
  float: left;
  display: inline-block;
  padding: 0;
  margin: 5px 0 0 0;
}
.portlet .portlet-tools > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet .portlet-tools .btn-icon {
  margin-top: -2px;
  color: #555;
  font-size: 16px;
}
.portlet .portlet-tools .btn-icon:hover {
  text-decoration: none;
  background-color: #fff;
}
.portlet .portlet-tools .btn-icon .caret {
  margin-top: -3px;
}
.portlet .portlet-tools .dropdown-menu {
  left: auto;
  right: 0;
}
.portlet .portlet-tools .btn.btn-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0;
}
.portlet .portlet-tools .form-control.input-sm {
  display: inline-block;
  width: 125px;
  height: 26px;
}
.portlet .portlet-tools .progress {
  margin-top: 0;
  margin-bottom: 0;
  width: 125px;
}
.portlet .portlet-tools .nav-tabs,
.portlet .portlet-tools .nav-pills {
  margin-bottom: 0;
}
.portlet .portlet-tools .nav-pills > li > a {
  padding: 2px 9px;
  font-size: 12px;
  font-weight: 600;
}
.portlet .portlet-tools .nav-pills > li.active > a,
.portlet .portlet-tools .nav-pills > li.active > a:hover,
.portlet .portlet-tools .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #555;
}
.portlet .portlet-toolbar {
  padding: 10px 15px;
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #d5d5d5;
}
.portlet .portlet-toolbar:before,
.portlet .portlet-toolbar:after {
  content: " ";
  display: table;
}
.portlet .portlet-toolbar:after {
  clear: both;
}
.portlet .portlet-header + .portlet-content,
.portlet .portlet-toolbar + .portlet-content {
  margin-top: 1px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.portlet .portlet-header + .portlet-toolbar {
  margin-top: 1px;
}
.portlet .portlet-content + .portlet-toolbar {
  margin-top: 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.portlet .toolbar-bottom .portlet-content {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.portlet.portlet-nopad .portlet-content {
  padding: 0;
}
.portlet .portlet-content:before,
.portlet .portlet-content:after {
  content: " ";
  display: table;
}
.portlet .portlet-content:after {
  clear: both;
}
.portlet.portlet-plain {
  background: transparent;
  border: none;
}
.portlet.portlet-plain .portlet-header {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 8px;
  padding-left: 0;
  background: #fff;
  filter: none;
  border: none;
  border-bottom: 1px dotted #ccc;
}
.portlet.portlet-plain .portlet-header h3 {
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  line-height: 22px;
}
.portlet.portlet-plain .portlet-header i {
  font-size: 20px;
}
.portlet.portlet-plain .portlet-content {
  padding-right: 0;
  padding-left: 0;
  background: transparent;
  border: none;
}
.portlet {
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.portlet-content {
  padding: 22px 15px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.portlet-footer {
  padding: 15px;
}
.portlet-table .portlet-content {
  padding: 0;
}
.portlet-table .portlet-content .table-bordered {
  margin-bottom: 0;
  border: none;
}
.portlet-table .portlet-content .table-bordered thead > tr > th:first-child,
.portlet-table .portlet-content .table-bordered tbody > tr > td:first-child {
  border-left: none;
}
.portlet-table .portlet-content .table-bordered thead > tr > th:last-child,
.portlet-table .portlet-content .table-bordered tbody > tr > td:last-child {
  border-right: none;
}
/* ==Progress Stat [.progress-stat]*/
/* ----------------------------------------------- */
.progress-stat {
  margin-bottom: 2.5em;
}
.progress-stat:last-child {
  margin-bottom: 0;
}
.progress-stat-value {
  float: right;
  width: 50%;
  color: #666;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}
.progress-stat-label {
  float: left;
  width: 50%;
  color: #999;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.progress-stat .progress {
  clear: both;
  position: relative;
  top: .5em;
}
.lt-ie9 .progress-stat-value {
  font-size: 13px;
}
/* ==Row Stat [.row-stat]*/
/* ----------------------------------------------- */
.row-stat {
  padding: 17px 13px 21px;
  margin-bottom: 1.25em;
  border: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.row-stat-label {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.row-stat-value {
  display: inline-block;
  margin-right: .25em;
  margin-bottom: 0;
}
.row-stat-badge {
  position: relative;
  top: -3px;
  font-size: 85%;
}
.row-stat {
  position: relative;
}
.row-stat:after,
.row-stat:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  bottom: -3px;
  left: 3px;
  right: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ddd;
  border-top: 0;
}
.row-stat:before {
  bottom: -5px;
  left: 6px;
  right: 6px;
}
/* ==Spark Stat [.spark-stat]*/
/* ----------------------------------------------- */
.spark-stat {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.spark-stat-value {
  display: block;
  margin-top: .75em;
  margin-bottom: .3em;
  font-size: 16px;
  font-weight: 600;
}
.spark-stat-label {
  margin-top: 0;
  font-size: 13px;
}
/* ==Panel Lists [.panel-lists]*/
/* ----------------------------------------------- */
.panel-lists {
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
}
.panel-lists li {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 20px;
  border-bottom: 1px solid #e6e7e8;
}
.panel-lists li:before,
.panel-lists li:after {
  content: " ";
  display: table;
}
.panel-lists li:after {
  clear: both;
}
.panel-lists li:before,
.panel-lists li:after {
  content: " ";
  display: table;
}
.panel-lists li:after {
  clear: both;
}
.panel-lists li:first-child {
  padding-top: 0;
}
.panel-list-avatar {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 1px;
  border: 1px solid #ccc;
  padding: 2px;
}
.panel-list-content {
  margin-left: 55px;
}
.panel-list-time {
  float: right;
  color: #aeafb1;
  font-size: 12px;
}
.panel-list-title {
  display: block;
  padding-right: 40px;
}
.panel-list-meta {
  color: #aeafb1;
  display: block;
  font-size: 12px;
  padding-top: 5px;
  line-height: 14px;
}
.panel-list-meta a {
  color: #4f5259;
}
.panel-list-meta a:hover {
  color: #4d4d4d;
  text-decoration: none;
}
/* ==Back to Top [#back-to-top] */
/* ----------------------------------------------- */
#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1001;
  width: 45px;
  height: 45px;
  display: block;
  background-color: @color-one;
  background-color: rgba(22, 160, 133, 0.3);
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: background 0.25s linear;
}
#back-to-top:hover {
  text-decoration: none;
  background-color: @color-one;
  background-color: rgba(22, 160, 133, 0.85);
}
#back-to-top i {
  color: #fff;
}
/* ==Social Feed [.feed-item] */
/* ----------------------------------------------- */
.feed-item {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-left: 40px;
  margin-left: 20px;
  border-left: 2px solid #DDD;
}
.feed-item:last-child {
  padding-bottom: 15px;
}
.feed-item .feed-subject {
  margin-bottom: 1.5em;
}
.feed-item .feed-subject a {
  font-weight: 600;
}
.feed-item .feed-content {
  padding-left: 25px;
}
.feed-item .feed-actions {
  padding: 10px 10px;
  margin-top: 2em;
  border-top: 1px dotted #ccc;
}
.feed-item .feed-actions:before,
.feed-item .feed-actions:after {
  content: " ";
  display: table;
}
.feed-item .feed-actions:after {
  clear: both;
}
.feed-item .feed-actions a {
  color: #999;
  font-size: 13px;
}
.feed-item .feed-actions a:hover {
  text-decoration: none;
  color: #e74c3c;
}
.feed-item .feed-actions .pull-left {
  margin: 0 15px 0 0;
}
.feed-item .feed-actions .pull-right {
  margin: 0 0 0 15px;
}
.feed-item .feed-icon {
  position: absolute;
  top: 15px;
  left: -23px;
  width: 40px;
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  background-color: #428bca;
  border: 3px solid #FFF;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.feed-item-idea .feed-icon {
  background-color: #428bca;
}
.feed-item-image .feed-icon {
  background-color: #bbbbbb;
}
.feed-item-file .feed-icon {
  background-color: #e74c3c;
}
.feed-item-bookmark .feed-icon {
  background-color: #555;
}
.feed-item-question .feed-icon {
  background-color: #428bca;
}
/* ==Pricing Plans [.pricing-plan] */
/* ----------------------------------------------- */
.pricing-plan {
  margin-bottom: 2em;
}
.pricing-plan-header {
  padding: 30px 20px;
  color: #fff;
  text-align: center;
  background: #e74c3c;
  border-bottom: none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.pricing-plan-title {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pricing-plan-price {
  display: block;
  margin-bottom: 5px;
  font-size: 72px;
  font-weight: 600;
}
.pricing-plan-price-term {
  position: relative;
  left: -8px;
  font-size: 16px;
}
.pricing-plan-body {
  padding: 30px 20px;
  text-align: left;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
ul.pricing-plan-details {
  padding: 0;
  margin: 0 0 0;
}
ul.pricing-plan-details li {
  padding: 0 0 .825em;
  margin: 0 0 .825em;
  list-style: none;
  color: #555;
  font-size: 16px;
  border-bottom: 1px dotted #ccc;
}
ul.pricing-plan-details li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.pricing-plan-detail-icon {
  width: 1em;
  margin-right: .5em;
  font-size: 17px;
  text-align: center;
}
.pricing-plan-signup-btn {
  padding-right: 22px;
  padding-left: 22px;
  color: #fff;
  background: #e74c3c;
  border: 2px solid #fff;
}
.pricing-plan-signup-btn:hover {
  color: #fff;
  background: #bf2718;
}
.pricing-plan-secondary .pricing-plan-header {
  background: #428bca;
}
.pricing-plan-secondary .pricing-plan-signup-btn {
  background: #428bca;
}
.pricing-plan-secondary .pricing-plan-signup-btn:hover {
  background: #2a6496;
}
.pricing-plan-tertiary .pricing-plan-header {
  background: #bbbbbb;
}
.pricing-plan-tertiary .pricing-plan-signup-btn {
  background: #bbbbbb;
}
.pricing-plan-tertiary .pricing-plan-signup-btn:hover {
  background: #959595;
}
/* ==Font Awesome List */
/* ----------------------------------------------- */
.fontawesome-icon-list {
  margin-top: 3em;
  margin-bottom: 3em;
}
.fontawesome-icon-list > div {
  margin-bottom: 3em;
  text-align: center;
}
.fontawesome-icon-list > div a {
  display: block;
  color: #777;
  white-space: nowrap;
  font-size: 14px;
}
.fontawesome-icon-list > div a:hover {
  color: #d74b4b;
  text-decoration: none;
}
.fontawesome-icon-list > div i {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
}
/* ==Morris [.morris]*/
/* ----------------------------------------------- */
.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  padding: 6px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  margin: .25em 0;
  font-weight: 600;
}
.morris-hover.morris-default-style .morris-hover-point {
  margin: 0.1em 0;
  white-space: nowrap;
}
/* ==Full Calendar [.fc]*/
/* ----------------------------------------------- */
.fc {
  direction: ltr;
  text-align: left;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
/* Header
------------------------------------------------------------------------*/
.fc-header td {
  white-space: nowrap;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
}
.fc-header-title h2 {
  margin-top: 0;
  margin-bottom: 1em;
  white-space: nowrap;
  font-size: 18px;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
  font-weight: 400;
}
/* Buttons
------------------------------------------------------------------------*/
.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.7em;
  white-space: nowrap;
  cursor: pointer;
}
.fc-state-default {
  /* non-theme */
}
.fc-state-default.fc-corner-left {
  /* non-theme */
  border-radius: 4px 0 0 4px;
}
.fc-state-default.fc-corner-right {
  /* non-theme */
  border-radius: 0 4px 4px 0;
}
.fc-state-default.fc-button-today {
  border-radius: 4px;
}
/*
  Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
  and we'll try to make them look good cross-browser.
*/
.fc-text-arrow {
  margin: 0;
  font-size: 1.5em;
  font-family: Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */
}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */
  font-weight: 200;
}
/* icon (for jquery ui) */
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
.fc-state-default {
  color: #888;
  background: #fff;
  border: 1px solid #BBB;
  font-weight: 200;
  transition: background 0.1s linear;
  text-shadow: none;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #666;
  background-color: #e74c3c;
  border-color: #ccc;
  font-weight: 200;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fc-state-hover {
  background-color: #ddd;
  background-image: none;
  outline: 0;
  color: #444;
}
.fc-state-down,
.fc-state-active {
  background-color: #e74c3c;
  background-image: none;
  outline: 0;
  color: #fff;
}
.fc-state-down {
  background-color: #888;
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
.fc-event {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.fc-event.fc-red,
.external-event.fc-red {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.fc-event.fc-yellow,
.external-event.fc-yellow {
  background-color: #428bca;
  border-color: #428bca;
}
.fc-event.fc-grey,
.external-event.fc-grey {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}
.fc-event.fc-charcoal,
.external-event.fc-charcoal {
  background-color: #444;
  border-color: #444;
}
.external-event {
  display: inline-block;
  margin: 5px 5px;
  padding: 7px 10px;
  background: #e74c3c;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}
/* ==jQuery UI Slider [.ui-slider]*/
/* ----------------------------------------------- */
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 16px;
  background: url(../img/jquery/handle.png) no-repeat;
  border: none;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:hover {
  background-position: 0 -16px;
}
.ui-slider .ui-slider-handle:active {
  background-position: 0 -16px;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 6px;
  font-size: .7em;
  display: block;
  border: 1px solid #FFF;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: #ccc;
  border-color: #b3b3b3;
}
.ui-slider.slider-primary .ui-slider-range {
  background: #e74c3c;
  border-color: #d62c1a;
}
.ui-slider.slider-secondary .ui-slider-range {
  background: #428bca;
  border-color: #3071a9;
}
.ui-slider.slider-tertiary .ui-slider-range {
  background: #bbbbbb;
  border-color: #a2a2a2;
}
.ui-slider.slider-success .ui-slider-range {
  background: #5cb85c;
  border-color: #449d44;
}
.ui-slider.slider-warning .ui-slider-range {
  background: #f0ad4e;
  border-color: #ec971f;
}
.ui-slider.slider-danger .ui-slider-range {
  background: #d9534f;
  border-color: #c9302c;
}
.ui-slider.slider-info .ui-slider-range {
  background: #5bc0de;
  border-color: #31b0d5;
}
.ui-slider-horizontal {
  height: 12px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 110%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: 11px;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -3px;
  margin-left: 0;
  margin-bottom: -0.6em;
  width: 15px;
  height: 24px;
  background: url(../img/jquery/handle-vertical.png) no-repeat;
}
.ui-slider-vertical .ui-slider-handle:hover {
  background-position: 0 -24px;
}
.ui-slider-vertical .ui-slider-handle:active {
  background-position: 0 -24px;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 9px;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
/* ==Autosize [.autosize]*/
/* ----------------------------------------------- */
.originalTextareaInfo {
  width: auto !important;
}
.autosize-animate {
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
}
/* ==Date Picker [.datapicker]*/
/* ----------------------------------------------- */
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #e74c3c;
  background-image: none;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #e74c3c;
  background-image: none;
}
.datepicker-inline {
  border: 1px solid #c0c0c0;
  width: 215px;
}
.datepicker-dropdown:before,
.datepicker-dropdown:after {
  display: none;
}
.ui-datepicker .input-group-addon {
  cursor: pointer;
}
/* ==iCheck [.icheck]*/
/* ----------------------------------------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  display: inline-block;
}
.form-group .icheckbox_minimal-blue,
.form-group .iradio_minimal-blue {
  display: inline-block;
  top: 4px;
  margin-right: .5em;
  margin-left: -20px;
}
.checkbox-inline,
.radio-inline {
  margin-right: 20px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
/* ==Select2 [.select2-container]*/
/* ----------------------------------------------- */
.select2-container {
  margin-left: 0 !important;
  text-align: left;
}
.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ccc;
  background: #fff !important;
  filter: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-container .select2-choice .select2-arrow {
  background: none;
  border: none;
  top: 2px;
  right: 5px;
}
.select2-container .select2-choice .select2-arrow b {
  background-position: 1px 1px;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -17px 1px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-container .select2-choice:hover {
  border-color: #c2c2c2 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.select2-results {
  padding: 0;
  margin-right: 0;
}
.select2-search {
  padding-top: 4px;
}
.select2-drop,
.select2-drop.select2-drop-above {
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border-color: #aaa;
  margin-top: -5px;
}
.select2-drop-multi.select2-drop-above {
  margin-top: -1px !important;
}
.select2-container .select2-choice abbr {
  top: 9px;
}
/* .select2-search-choice-close */
.select2-container-multi .select2-choices {
  min-height: 34px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  height: 28px;
  padding-bottom: 4px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  background: #f8f8f8;
  height: 22px;
  line-height: 14px;
  margin: 2px 1px 1px 2px;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  padding: 3px 22px 3px 6px;
  border: 1px solid #aaa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-container-multi .select2-search-choice-close {
  right: 3px;
  top: 4px;
  left: auto;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #e1e1e1;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background: #fff !important;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.select2-container .select2-choice > .select2-chosen i,
.select2-results .select2-result-label i,
.select2-container-multi .select2-choices .select2-search-choice i {
  margin: -1px 6px 0 0;
  height: 15px;
  vertical-align: -2px;
}
.form-control.select2-container {
  height: auto;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* ==Simple Color Picker [.simplecolorpicker]*/
/* ----------------------------------------------- */
.simplecolorpicker.inline {
  display: block;
  height: auto;
}
.simplecolorpicker.icon {
  display: block;
  width: 100px;
  height: 25px;
  text-align: center;
  border: 3px solid #222;
}
.simplecolorpicker.icon i {
  visibility: hidden;
  color: #FFF;
}
.simplecolorpicker span {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #FFF;
  text-align: center;
  border: 3px solid transparent;
}
.simplecolorpicker span i {
  display: table-cell;
  visibility: hidden;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}
.simplecolorpicker span i:active,
.simplecolorpicker span i:focus {
  outline: none;
}
.simplecolorpicker span:hover {
  border-width: 3px;
  outline: none;
}
.simplecolorpicker span.selected {
  border-width: 3px;
}
.simplecolorpicker span.selected i {
  visibility: visible !important;
}
/* ==Bootstrap Timepicker [.bootstrap-timepicker]*/
/* ----------------------------------------------- */
.bootstrap-timepicker > .fa-clock-o {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker-widget.dropdown-menu {
  max-width: 215px;
}
.bootstrap-timepicker-widget.modal {
  margin: 0;
  width: auto;
}
.bootstrap-timepicker-widget.modal .modal-dialog {
  width: 280px;
}
.bootstrap-timepicker-widget.modal .modal-body {
  padding: 0;
}
.bootstrap-timepicker-widget.modal .modal-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 0;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker-widget table td input {
  width: 42px;
}
/* ==Validation [.form-group]*/
/* ----------------------------------------------- */
.form-group {
  position: relative;
}
.form-group .parsley-success .parsley-error-list {
  display: none !important;
}
.form-group .parsley-error-list {
  position: relative;
  display: inline-block !important;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #b94a48;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.form-group .parsley-error-list::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B94A48;
  position: absolute;
  top: -6px;
  left: 3px;
}
.form-horizontal .form-group span.error {
  margin-left: 1.5em;
  margin-left: 15px;
}
/* ==Howl [.howl]*/
/* ----------------------------------------------- */
.howl {
  padding: 0;
  list-style: none;
  background: #353535;
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.howl:empty {
  display: none;
}
.howl-slot {
  position: relative;
}
.howl-close {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 10px;
  color: #000;
  outline: none !important;
  filter: alpha(opacity=25);
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  text-shadow: none;
}
.howl-message {
  position: relative;
  padding: 10px 30px 13px 65px;
  color: #f0f0f0;
  font-size: 13px;
  font-weight: 500;
  background: transparent;
  text-shadow: 0px 1px #111111;
  -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
  -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
  box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.howl-message:hover .howl-close {
  color: #fff;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.howl-message a {
  color: #428bca;
  text-decoration: none;
}
.howl-message a:hover {
  text-decoration: underline;
}
.howl-title {
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.howl-title:empty {
  display: none;
}
.howl-message-inner:before {
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 20;
  display: block;
  content: " ";
  height: 13px;
  width: 13px;
  background-color: #999;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.howl-message.howl-danger .howl-message-inner:before {
  background-color: #d9534f;
}
.howl-message.howl-info .howl-message-inner:before {
  background-color: #5bc0de;
}
.howl-message.howl-success .howl-message-inner:before {
  background-color: #5cb85c;
}
.howl-message.howl-warning .howl-message-inner:before {
  background-color: #f0ad4e;
}
.howl-icon {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 1000;
  width: 1em;
  font-size: 20px;
  text-align: center;
}
.howl-has-icon .howl-message-inner:before {
  display: none !important;
}
.howl-has-icon .howl-icon {
  color: #bbb;
}
.howl-has-icon .howl-success .howl-icon {
  color: #5cb85c;
}
.howl-has-icon .howl-warning .howl-icon {
  color: #f0ad4e;
}
.howl-has-icon .howl-danger .howl-icon {
  color: #d9534f;
}
.howl-has-icon .howl-info .howl-icon {
  color: #5bc0de;
}
.howl {
  position: fixed;
  top: auto;
  bottom: 10px;
  right: auto;
  left: 50%;
  z-index: 1001;
  width: 300px;
  padding: 0;
  margin: 0;
  margin-left: -150px;
}
@media (min-width: 768px) {
  .howl {
    left: auto;
    right: 30px;
    width: 350px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .howl {
    width: 375px;
  }
}
/* ==Data Tables [.dataTable]*/
/* ----------------------------------------------- */
.datatable-columnfilter {
  width: 100% !important;
}
.datatable-hidesearch .dataTables_filter {
  display: none;
}
.dataTables_wrapper .row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.dataTables_wrapper .dt-rt > div {
  margin-bottom: 1em !important;
}
.dataTables_wrapper .dt-rt > div:empty {
  margin-bottom: 0 !important;
}
.dataTables_wrapper .dt-rb > div {
  margin-top: 1em !important;
}
.dataTables_wrapper .dt-rb > div:empty {
  margin-top: 0 !important;
}
.dataTables_wrapper .dataTable {
  margin-bottom: .5em;
}
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  vertical-align: middle;
  font-size: 12px;
  height: 30px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.dataTables_wrapper .dataTables_filter input:focus,
.dataTables_wrapper .dataTables_length select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.dataTables_wrapper .dataTables_length select {
  height: auto;
}
.dataTables_info {
  padding-top: 6px;
}
div.dataTables_length label {
  float: left;
  text-align: left;
  font-weight: 600;
}
div.dataTables_length select {
  width: 70px;
  margin-right: .65em;
}
div.dataTables_filter label {
  float: right;
  font-weight: 600;
}
div.dataTables_filter label input {
  width: 215px;
  margin-left: .65em;
}
div.dataTables_paginate {
  text-align: right;
  margin: 0;
}
div.dataTables_paginate .pagination {
  margin-top: 0;
  margin-bottom: 0;
}
.dataTable input::-ms-clear {
  display: none !important;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled,
.paginate_enabled_previous,
.paginate_enabled_previous:hover,
.paginate_disabled_previous,
.paginate_enabled_next,
.paginate_enabled_next:hover,
.paginate_disabled_next {
  position: relative;
  background: none;
}
.sorting:before,
.sorting_asc:before,
.sorting_desc:before,
.sorting_asc_disabled:before,
.sorting_desc_disabled:before,
.paginate_enabled_previous:before,
.paginate_disabled_previous:before,
.paginate_enabled_next:before,
.paginate_disabled_next:before {
  margin-right: 10px;
  color: #e74c3c;
  font-family: FontAwesome;
  font-size: 16px;
}
.sorting:before {
  content: "\f0dc";
  color: #bbb;
}
.sorting_asc:before,
.sorting_asc_disabled:before {
  content: "\f0de";
}
.sorting_desc:before,
.sorting_desc_disabled:before {
  content: "\f0dd";
}
.sorting_asc_disabled:before,
.sorting_desc_disabled:before {
  color: #ddd;
}
.paginate_enabled_previous:after,
.paginate_disabled_previous:after {
  content: "\f0d9";
  right: auto;
  left: 2px;
  top: 0;
}
.paginate_enabled_next:after,
.paginate_disabled_next:after {
  content: "\f0da";
  top: 0;
}
.paginate_disabled_previous:after,
.paginate_disabled_next:after {
  color: #999;
}
.paginate_enabled_previous:hover:after,
.paginate_enabled_next:hover:after {
  color: #e74c3c;
}
/* ==Flot */
/* ----------------------------------------------- */
#flotTip {
  padding: 3px 6px !important;
  color: #FFF !important;
  font-size: 11px !important;
  text-align: center !important;
  text-decoration: none !important;
  background-color: #222 !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  border: 1px solid #000 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.chart-tooltip {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 5px 9px;
  border: 1px solid #282828;
  background: #3b3b3b;
  background: -moz-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: -o-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3b3b3b 0%, #222222 100%);
  background: linear-gradient(top, #3b3b3b 0%, #222222 100%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
}
.chart-tooltip:after {
  content: '';
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #222222;
  position: absolute;
  bottom: -5px;
  left: 4px;
}
/* ==Table Checkable [.table-checkable]*/
/* ----------------------------------------------- */
.table-checkable .checkbox-column {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
.table-checkable .checkbox-column input[type=text] {
  display: none;
}
.table-checkable tbody > tr.checked > td {
  background-color: #c1d9ee;
}
/* ==User Accounts [.account-wrapper]*/
/* ----------------------------------------------- */
.account-bg {
  background: #e6e6e6;
}
.account-header-divider {
  margin-top: 0;
  border-top: 10px solid #fff;
  border-bottom: none;
}
.account-wrapper {
  position: relative;
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
.account-wrapper .row > div {
  margin-bottom: 1em;
}
.account-logo {
  position: relative;
  margin: 0 auto 25px;
  z-index: 100;
  width: 100px;
  height: 100px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.account-logo::after {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}
.account-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
.account-form .placeholder-hidden {
  display: none;
}
.account-form .form-control {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1.25em;
}
.account-body {
  position: relative;
  padding: 35px 30px 10px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
}
.account-body-title {
  margin-bottom: 10px;
  line-height: 1.5em;
}
.account-body-subtitle {
  color: #777;
  line-height: 1.5em;
}
.account-footer {
  padding: 0 25px;
  margin-top: 1.5em;
}
.account-or-social {
  display: block;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .account-wrapper {
    width: 450px;
    padding: 30px 0;
  }
  .account-wrapper .row > div {
    margin-bottom: 0;
  }
  .account-body .account-form {
    padding: 0 25px;
    text-align: left;
  }
  .account-or-social {
    margin-top: 2em;
  }
}
/* ==Support List [.support-list]*/
/* ----------------------------------------------- */
ul.support-list {
  margin-top: 2em;
  margin-bottom: 4em;
}
ul.support-list li {
  margin-left: 2.5em;
}
.scrollable-panel {
  height: 300px;
  overflow-y: hidden;
  outline: none;
}
