.black {
  color: #000000;
}
.primary {
  color: #e49910;
}
.full-width {
  display: block;
  width: 100%;
}
.required {
    font-size:11px;
    color:red;
}
th {
    background-color:#0b0b0b;
}
.bold {
  font-weight: bold !important;
}
.no-margin {
  margin: 0 !important;
}
.btn-primary {
  background-color: #e49910;
  border-color: #e49910;
  margin: 0;
  color: white;
  padding: 9px 10px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active {
  background-color: #e48324;
  border-color: #e48324;
}
.larger {
  font-size: 18pt;
}
.banner {
  background-image: url('/images/food.jpg');
  background-size: cover;
  padding: 25px 0 25px 0;
}
@media (min-width: 768px) {
  .banner {
    min-height: 500px;
  }
}
.banner #postcodechecker {
  padding: 25px 25px;
  background: white;
}
.providertable {
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.providertable table tr td:hover {
  cursor: pointer;
}
.menugroup {
  border: 1px solid #b5b5b5;
  padding: 15px;
  margin: 15px 0 15px 0;
}
.restaurantbox {
  padding: 5px;
  text-align: center;
}
.restaurantbox img {
  max-width: 150px;
  margin: 0 auto;
}
