@color-one: #e49910;
@color-two: #e48324;

@color-border: #b5b5b5;

.black {
  color: #000000;
}
.primary {
  color: @color-one;
}
.full-width {
  display: block;
  width: 100%;
}
.bold {
  font-weight: bold !important;
}
.no-margin {
  margin: 0 !important;
}
.btn-primary {
  background-color: @color-one;
  border-color: @color-one;
  margin: 0;
  color: white;
  padding: 9px 10px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active {
  background-color: @color-two;
  border-color: @color-two;
}
.larger {
  font-size: 18pt;
}
.banner {
  background-image: url('/images/food.jpg');
  background-size: cover;
  padding: 25px 0 25px 0;
}
@media (min-width: 768px) {
  .banner {
    min-height: 500px;
  }
}
.banner #postcodechecker {
  padding: 25px 25px;
  background: white;
}
.providertable {
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.providertable table tr td:hover {
  cursor: pointer;
}
.menugroup {
  border: 1px solid @color-border;
  padding: 15px;
  margin: 15px 0 15px 0;
}



.restaurantbox {

  img {
    max-width:150px;
    margin:0 auto;
  }

  padding:5px;
  text-align:center;

}