.cart {
  border: 1px solid #b8b8b8;
  padding: 5px;
  width: 100%;
}
.cart-table {
  font-size: 12px;
  padding: 0;
}
.cart-table .delete {
  background-color: #bd392f;
  color: white;
  padding: 3px;
  margin: 2px 0 2px 0;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  max-width: 25px;
}
.cart-table .delete:hover {
  background-color: #942f26;
}
.cart-table .delete i {
  margin-left: 5px;
  color: white;
}
.cart-table .name {
  font-weight: bold;
  display: block;
}
.cart-table td {
  padding: 0px !important;
  vertical-align: middle;
}
.cart-table td:first-child {
  width: 10%;
}
.cart-table td:nth-child(3) {
  white-space: nowrap;
  width: 25%;
}
.cart-table .total {
  text-align: right;
  padding: 10px !important;
}
.cart-table input {
  margin: 2px 5px 2px 2px;
  width: 20px;
  border: 1px solid #b8b8b8;
  background: white;
  color: black;
}
